@model WeServe.Models.UserModel
@{
    ViewBag.Title = "Create";

    Layout = "~/Views/Shared/Serve_OuterLayout.cshtml";
}
<h2>CreateUser</h2>

@using (@Html.BeginForm("CreateUser", "Home", FormMethod.Post))
{


    <div>
        User ID
        @Html.LabelFor(model => model.UserId)

    </div>
    <div>
        First Name:
        @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", placeholder = "Username" } }))
        @Html.ValidationMessageFor(model => model.UserName)
    </div>
    <div>
        Password:
        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "Password" } })
        @*@Html.EditorFor(model => model.Password)*@

    </div>
    <div>
        First Name:
        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", placeholder = "First name" } }))

    </div>
    <div>
        Last Name:
        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", placeholder = "Last name" } }))

    </div>
    <div>
        DOB:
        @Html.EditorFor(model => model.DOB, new { htmlAttributes = new { @class = "form-control", placeholder = "DOb" } }))

    </div>
    <div>
        Email:
        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Email" } }))

    </div>
    <div>
        Phone:
        @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control", placeholder = "Phone" } }))

    </div>
    <div>
        Address:
        @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", placeholder = "Address" } }))

    </div>
    @*<div>
            <input type="file" name="Photo" />
        </div>*@
    <div>
        <input type="submit" value="Submit" />

    </div>

}


