@model IEnumerable<WeServe.tbservice>
@{
    ViewBag.Title = "viewDetails";
    Layout = "~/Views/Shared/Serve_InnerLayout.cshtml";
}


<h2>getDetails</h2>

<div class="form-group">
    <select class="form-control input-sm" required="" id="lstServices">
        <option value="0">Select Service</option>
        @{
            foreach (var obj in ViewBag.data)
            {
                <option value="@obj.serviceId">@obj.title</option>
            }
        }
    </select>
</div>
<div id="dvServices"></div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            alert();
            $("#lstServices").change(function () {
                alert("hai");
                var categoryId = $("#lstServices").val();
                @*location.href = '@Url.Action("GetService", "Serving")' ? id = ' + categoryId';
                $.post(@(Url.Action("GetService","Serving",null, Request.Url.Scheme))?id = ' + categoryId');*@
                $("#dvServices").load('@(Url.Action("GetService", "Serving", null, Request.Url.Scheme))?id=' + categoryId);
        });
    });
    </script>
}