@model IEnumerable<WeServe.tbservice>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Serve_InnerLayout.cshtml";
}

<h2>Index</h2>

<table border="1">
    <thead class="thead-default">
        <tr>

            <th data-priority="3">ID</th>
            <th data-priority="3">TITLE</th>
            <th data-priority="2">DESCRIPTION</th>
            <th data-priority="2">CHARGE</th>
            <th>ACTION</th>
            <th>ACTION</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var o in Model)
        {
            <tr>
                <td>@o.Id</td>
                <td>@o.title</td>
                <td>@o.description</td>
                <td>@o.charge</td>
                <td>@Html.ActionLink("Book Service","Booking",new {id=o.Id })</td>
                <td>@Html.ActionLink("Detailed View", "viewDetails")</td>
                @*<td>@Html.ActionLink("Book Service", "getservice", new { id = o.Id })</td>*@

            </tr>
        }
    </tbody>
</table>

